body {
	background-color: #F8F8FA;
}
.footer {
	background-color: #F8F8FA;
	background-image: linear-gradient(to top, #F8F8FA, #FFFFFF);
	position: relative;
	top: 150px;
	bottom: 0px;
	width: 102%;
	left: -1%;
	height: 40px;
	clear: both;
	padding-top: 20px;
	font-family: "Open Sans", sans-serif;
	font-weight: lighter;
	font-size: 18px;
	text-align: center;
	border-top:	1px solid #D3D3D3;
	color: #000000; 
}

.nav {
	z-index: 10;
	position: fixed;
	opacity: 0.8;
	top: 0px;
	left: 0px;
	right: 0px;	
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #D3D3D3;
	background-color: #F8F8FA;
	background-image: linear-gradient(to bottom, #F8F8FA, #FFFFFF);
	overflow: hidden;
}

.nav li{
	margin: 10px;
}

.nav a {
  color: #708090;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  padding: 14px 10px;
}

.nav a:hover{
	color: #9685BA;
	text-shadow: 0px 0px 5px #555;
}
.nav .posleft{
	float: left;
}

.nav .posright{
	float: right;
}
.nav li {
  display: inline;
}

.footer a{
	color: #0099FF;
	font-weight: bold;
}
.footer a:hover{
	text-shadow: 0px 0px 1px #0099FF;
}
a {
	color: #000000;
	text-decoration: none;
}

.article {
	border-bottom: 1px solid #D3D3D3;
}

.container {
	float: left;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 2px 2px #D3D3D3;
	top: 90px;
	width: 80%;
	position: relative;
	left: 10%;
	border: 1px solid #CCCCCC;
	border-radius: 10px;
	font-size: 18px;
}

.container h4, h5, h6{
	font-size: 20px;
}

.container a{
	color: #0099FF;
}

.container .post{
	padding: 3%;
	font-family: "Open Sans", sans-serif;
}
.container .post .posthead {
	border-bottom: 1px solid #CCCCCC;
}
.container .post .posthead h1{
	text-align: center;
	font-weight: lighter;
}
.container .post .posthead h2{
	text-align: center;
	color: #708090;	
	font-weight: lighter;
}
.container .post .postend{
	border-top: 1px solid #CCCCCC;
}

.container a:hover{
	text-shadow: 0px 0px 1px #0099FF;
}

.article {
	list-style-type: circle;
}

.postname {
	position: relative;
	width: 65%;
	height: 22px;	
	display: inline-block;
	padding-left: 5%;
	text-align: left;
}

.info {
	position: relative;
	left: 6%;
	width: 15%;
	height: 22px;
	display: inline-block;
	padding-right: 10%;
	font-weight: lighter;
	text-align: left;
}

.container {
	font-family: "Open Sans", sans-serif;
}

img {
	display: block;
	box-shadow: 0px 0px 10px #555;
	border-radius:	5px;
	margin: 10px auto;
}

.hr1 {
	border-top: 1px solid #CCCCCC;
}

code {
	border: 1px solid #CCCCCC;
	border-radius: 2px;
}

blockquote {
	background-color: #F8F8FA;
	border-left: 10px solid #CCCCCC;
	background-image: linear-gradient(to right, #F8F8FA, #FFFFFF);
	padding-left: 10px;
}

code {
	font-size: 18px;
}

.TOC .cont li {
	list-style-type: none;
}

.TOC .cont {
	margin: 20px;
}

.TOC {
	width: 35%;
	background-color: #F8F8FA;
	border-radius: 10px;
	margin: 10px;
	border: 1px solid #CCCCCC;
	font-weight: lighter; 
}

.TOC h2{
	font-weight: lighter;
}

.backtotop {
	z-index: 10;
	opacity: 0.5;
	position: fixed;
	right: 5%;
	bottom: 100px;
	width: 50px;
	height: 50px;
	background-color: #555555;
	border-radius: 5px;
	border: 1px solid #F8F8FA;
	font-size: 30px;
	margin: 0 auto;
	cursor: pointer;
	text-align: center;
}

.backtotop:hover{
	background-color: #0099FF;
}
